<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
        <string>whitecoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Whitecoin-Qt</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Whitecoin-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>co.whitecoin.Whitecoin-Qt</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>co.whitecoin.WhitecoinPayment</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>whitecoin</string>
            </array>
          </dict>
        </array>
        <key>LSAppNapIsDisabled</key>
          <string>True</string>
</dict>
</plist>
